<h1>Editing Consensus Mechanism</h1>

<%= render 'form', consensus_mechanism: @consensus_mechanism %>

<%= link_to 'Show', @consensus_mechanism, class:"btn btn-dark" %> |
<%= link_to 'Back', consensus_mechanisms_path, class:"btn btn-dark" %>
