<h1>Welcome#index</h1>
<p>Crypto Wallet</p>

<p> <%= data_br(Date.today) %> </p>

<%= render 'menu' %>

<p>
  <strong> <%= Rails.env %> </strong> environment
</p>

<p>
  Variável de instância com query params => <strong> <%= @name %> </strong>
</p>