<div class="container-fluid bg-light p-5">
	  <h1 class="display-4">Welcome</h1>
	  <p class="lead">This is Crypto Wallet, an application to register cryptocurrencies</p>
	  <hr class="my-4">
	  <p>To get started select one of the options below</p>
	  
    <%= render 'menu' %>
</div>
